<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uniix.organdonation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/orgdo_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/orgdo_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrganDonation">
        <activity
            android:name=".ui.hospitals.FragmentHospitals"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.organ.FragmentOrgan"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.eye.EyeDonationFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.blood.BloodDonationFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.pledge.PledgeFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.OrganDonation.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>